# YouTube API
YOUTUBE_API_KEY=key_api_youtube

# Postgres
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=pass_postgres_user
POSTGRES_DB=db_youtube
POSTGRES_HOST=pg_elt
POSTGRES_PORT=5432

# Airflow
AIRFLOW_FERNET_KEY=generate_with # uv run python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__API__SECRET_KEY=generate_with # openssl rand -base64 32
AIRFLOW_API_AUTH_JWT_SECRET=generate_with # openssl rand -base64 64
POSTGRES_AIRFLOW_USER=airflow_user
POSTGRES_AIRFLOW_PASSWORD=pass_airflow_user
POSTGRES_AIRFLOW_DB=db_airflow
POSTGRES_AIRFLOW_HOST=pg_airflow
POSTGRES_AIRFLOW_PORT=5432

# MinIO
MINIO_ACCESS_KEY=minio_user
MINIO_SECRET_KEY=pass_minio_user
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=youtube-raw

# Metabase
POSTGRES_METABASE_USER=metabase_user
POSTGRES_METABASE_PASSWORD=metabase_user_pass
POSTGRES_METABASE_DB=db_metabase
POSTGRES_METABASE_HOST=pg_metabase
POSTGRES_METABASE_PORT=5432
